@charset "utf-8";
/*

Voice of Consumer Bites CSS Document
No LESS Source - CSS is Original Document
Author: Lawrence Railey
Version: 0.1.1
Version Date: 7.27.15

*/

/* CSS reset and primary styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Futura, Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	visibility: visible;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Load fonts - DO NOT USE FUTURA NAME IN FILES, USE ALTERNATE PROVIDED HERE */

@font-face {
    font-family: 'Futura';
    src: url('klavika-regular-webfont.eot');
    src: local('Futura'),
        url('klavika-regular-webfont.woff') format('woff'),
        url('klavika-regular-webfont.ttf') format('truetype'),
        url('klavika-regular-webfont.svg#webfontiYJyHRas') format('svg');
}

/* Primary text */

h1 {
font-weight: normal;
font-family: Futura, Arial, sans-serif;
text-decoration: none;
font-size: 36px;	
color: #FFFFFF;	
line-height: 48px;
}

h2 {
font-weight: normal;
font-family: Futura, Arial, sans-serif;
text-decoration: none;
font-size: 30px;
color: #FFFFFF;	
margin-top: 15px;
}

h3 {
font-weight: normal;
font-family: Futura, Arial, sans-serif;
text-decoration: none;
font-size: 21px;
color: #FFFFFF;	
margin-top: 15px;
}

h4 {
font-weight: normal;
font-family: Futura, Arial, sans-serif;
text-decoration: none;
font-size: 21px;
line-height: 28px;
color: #FFFFFF;	
margin-top: 15px;
}

p {
font-weight: normal;
font-family: Futura, Arial, sans-serif;
text-decoration: none;
font-size: 15px;
color: #ffffff;	
line-height: 20px;
margin-top: 15px;
margin-bottom: 20px;
}

/* White boxes use dark color */

.white-box h1, .white-box h2, .white-box h3, .white-box h4, .white-box p {
color: #333333;	
}

/* Wrapper */

.secwrap {
padding-top: 112px;	
background-color: #f3f3f3;
}

.wrap {
margin-left: auto;
margin-right: auto;
max-width: 1040px;	
overflow: hidden;
background-color: #ffffff;
}

/* Header */

header {
width: 1040px;	
display: block;
height: 112px;
background-color: #333333;
position: fixed;
top: 0px;	
z-index: 99;
}

.logo {
float: left;
width: 300px;
padding-top: 35px;
padding-left: 20px;	
text-align: left;
}

.hamburger {
float: right;
width: 300px;
padding-top: 38px;	
padding-right: 20px;
text-align: right;
}

.hamburger img {
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
cursor: pointer;
}

.hamburger img:hover {
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
opacity: 0.5;	
}

/* Floating menu */

.floating-menu {
background-color: #333333;
display: none;
position: fixed;
margin-left: 510px;
width: 530px;	
z-index: 99;
}

.floating-menu ul {
width: 530px;	
padding: 0px;
margin: 0px;
border-top: 2px solid #ffffff;
}

.floating-menu li {
border-bottom: 2px solid #ffffff;
width: 530px;	
padding: 0px;
margin: 0px;
}

.floating-menu li a {
display: block;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;	
font-size: 21px;
text-decoration: none;
color: #ffffff;
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
}

.floating-menu li a:hover {
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
background-color: #A5DA00;
}

/* Section */

section {
min-height: 750px;	
}

/* Colored point boxes - standard size */

.blue-point {
position: absolute;
max-width: 1040px;	
background-image: url(../images/bg_bluepoint.png);
background-repeat: repeat-x;
background-position: center top;
height: 286px;
}

.darkblue-point {
position: absolute;
max-width: 1040px;	
background-image: url(../images/bg_darkbluepoint.png);
background-repeat: repeat-x;
background-position: center top;
height: 286px;
}

.green-point {
position: absolute;
max-width: 1040px;	
background-image: url(../images/bg_greenpoint.png);
background-repeat: repeat-x;
background-position: center top;
height: 286px;
}

.orange-point {
position: absolute;
max-width: 1040px;	
background-image: url(../images/bg_orangepoint.png);
background-repeat: repeat-x;
background-position: center top;
height: 286px;
}

.magenta-point {
position: absolute;
max-width: 1040px;	
background-image: url(../images/bg_magentapoint.png);
background-repeat: repeat-x;
background-position: center top;
height: 286px;
}

section .blue-point h1, section .darkblue-point h1, section .green-point h1, section .orange-point h1, section .magenta-point h1 {
margin-top: 50px;
text-align: center;	
}

section .blue-point h4, section .darkblue-point h4, section .green-point h4, section .orange-point h4, section .magenta-point h4 {
margin-top: 50px;
text-align: center;	
padding-left: 35px;
padding-right: 35px;
}

/* Button Style */

.button {
margin-left: auto;
margin-right: auto;
padding: 13px;
background-color: transparent;
border: 3px solid #ffffff;
color: #ffffff;
display: inline-block;
clear: both;
width: auto;
text-decoration: none;
text-align: center;
font-size: 26px;	
font-family: Futura, Arial, sans-serif;
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
}

.button:hover {
color: #A5DA00;
border: 3px solid #A5DA00;
-webkit-transition-duration: 0.3s, 0.3s; /* Safari */ transition-duration: 0.3s, 0.3s;
}

/* Anchor Alignment */

.named-anchor {
width: 1040px;
height: 100px;
margin-top: 640px;
}

/* Index Slide */

.slide-index {
background-image: url(../images/bg_start.jpg);
width: 1040px;
position: absolute;
z-index: 98;
top: 112px;
}

.slide-index h1 {
text-align: center;	
margin-top: 150px;
}

.slide-index h2 {
text-align: center;	
}

.slide-index h2.buttoncontainer {
margin-top: 100px;	
}

.slide-index p {
margin-top: 100px;
padding-left: 100px;
padding-right: 100px;
}

/* Slide 1 */

section.slide1 {
background-image: url(../images/slide1.jpg);
background-repeat: no-repeat;
background-position: center bottom;	
height: 550px;
max-width: 1040px;	

/* Margin adjustment needed for first slide only DO NOT USE ON ANY OTHER SLIDE */
margin-top: -10px;

}

.slide1 .white-box {
background-color: #ffffff;
width: 1040px;
padding-bottom: 50px;
padding-top: 40px;	
position: absolute;
margin-top: 587px;
text-align: center;
}

/* Slide 2 */

section.slide2 {
height: 550px;
max-width: 1040px;	
margin-top: 100px;
}

section.slide2 h1 {
padding-left: 35px;
padding-right: 35px;
padding-top: 45px;
}

.altbag-point {
background-image: url(../images/slide2-2.png);	
}

.slide2-bag {
margin-top: 250px;
position: absolute;	
}

